body{
    background-color: #fff;
}

header{
    display: flex;
    padding: 1%;
    height: 10vh;
    align-items: center;
}

header>div{
    width: 50%;
}

#header-logo{
    margin: 5%;
    height: 8vh;
    justify-content: flex-start;
}

nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.orderButton{
    background-color: rgba(241, 111, 62, 1);
    border: none;
    padding: 0.5rem;
}

footer{
    width: 100%;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 3;
}

#topFooter{ 
    padding: 10px;
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
}

#socialMedia{
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px;
    text-align: center;
    /* z-index: 4; */
}
#bottomFooter > div{
    width: 25%;
} 
#bottomFooter{
    display: flex;
    flex-wrap: wrap;
    padding: 1vh;
    height: 20vh;
    background-color: #191919;
    color: #fff;
    justify-content: space-evenly;
    /* align-content: center;
    align-items: center; */
    text-align: center;
}

#copyright{
    text-align:right;
    /* padding: 0 1%; */
}
p > img{
    height: 10vh;
}

span > img{
    height: 3vh;
}